<a href="https://colab.research.google.com/github/ifoaalessandro/primarepository/blob/main/1_Esercizi_PythonEssential_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funzioni Base

Creare una funzione che calcoli la somma di due valori

In [ ]:
def somma(a, b):
  print('somma ' + str(a) + ' con ' + str(b))

In [ ]:
somma(5, 7)

somma 5 con 7

Creare una funzione che crei una lista dati due valori

In [ ]:
def lista(a, b):
  print('lista con ' + str(a) + ' e ' + str(b))

In [ ]:
lista('mario', 'luca')

lista con mario e luca

Creare una funzione che ritorna le chiavi o i valori del dizionario

In [ ]:
def chiavi_o_valori(d, tipo):
  print('torniamo: ' + tipo)

In [ ]:
d = {'mario': 10, 'luca': 12}
chiavi_o_valori(d, 'chiavi')

torniamo: chiavi

# Calcolo del fattoriale

Creare una funzione che calcoli il fattoriale di un numero fornito in input alla funzione.

Esempio: 5! = 5 * 4 * 3 * 2 * 1 = 120

Nota:
- non è possibile calcolare il fattoriale di un numero negativo
- il fattoriale di 0 è 1

In [ ]:
def calcola_fattoriale(n):  
  print("Calcolo del fattoriale del numero {}".format(n))

  # DA COMPLETARE

In [ ]:
calcola_fattoriale(6)

Calcolo del fattoriale del numero 6

# Rendere maiuscola la prima lettera di ogni parola contenuta in una frase

Tips:
- la funzione **split** applicata ad una stringa permette di separare le parole della stringa in funzione di un separatore fornito in input alla funzione (di default la funzione split separa le parole sulla base di uno spazio)
  - \<lista> = \<stringa>.split(\<separatore>)
- la funzione **join** permette di concatenare gli elementi di una lista e di separarli mediante un separatore al fine di generare una stringa
  - \<stringa> = \<separatore>.join(\<lista>)

In [ ]:
s = "ciao francesco"
res = s.split(' ')
res

['ciao', 'francesco']

In [ ]:
res = ' '.join(['a', 'b', 'c'])
res

'a b c'

In [ ]:
frase = "La prima lettera di ogni parola contenuta in questa frase deve essere resa maiusola."

# recuperare le parole dalla frase

# rendere maiuscola la prima lettera di ogni parola

# concatenare le parole modificate per ricreare la frase originale

frase_maiuscola = None

In [ ]:
frase_maiuscola

In [ ]:
frase.title()

'La Prima Lettera Di Ogni Parola Contenuta In Questa Frase Deve Essere Resa Maiusola.'

# Creare due dizionari aventi delle chiavi comuni e creare un terzo dizionario contenente la concatenazione dei valori corrispondenti alle chiavi comuni.

Tips:
- usare il metodo **intersection** dei set per trovare le chiavi comuni ai due set di chiavi

In [ ]:
s1 = {1, 2, 3}
s2 = {2,3,4}
s1.intersection(s2)

{2, 3}

In [ ]:
# creare due dizionari con qualche chiave in comune

# recuperare le chiavi comuni

# memorizzare in un nuovo dizionario la concatenazione dei valori delle chiavi comuni

# Mostrare le parole di una frase in ordine decrescente rispetto la loro frequenza di occorrenza
Tips:

- usare split per recuperare le parole della frase
- salvare in un dizionario le parole con relative occorrenze
- utilizzare il metodo items sul dizionario per ottenere delle coppie (parola, freq)
- utilizzare la funzione sorted per effettuare l'ordinamento
sorted(<lista>, key=<chiave_ordinamento>, reverse=<True o False>)

In [ ]:
frase = "Buffalo buffalo Buffalo buffalo buffalo buffalo Buffalo buffalo"

In [ ]:
# Usare split per recuperare le parole della frase

# Salvare in un dizionario le parole con relative occorrenze

# Utilizzare il metodo items sul dizionario per ottenere delle coppie (parola, freq)

# Utilizzare la funzione sorted per effettuare l'ordinamento
# sorted(<lista>, key=<chiave_ordinamento>, reverse=<True o False>)

# Suddividere una lista in parti di equa dimensione (ad eccezione eventualmente dell’ultima)

In [ ]:
# creare una lista e definire la dimensione delle partizioni

# calcolare il numero delle partizioni

# creare una nuova lista ed aggiungervi le partizioni

# Tabelline
Chiedere all'utente 10 tabelline casualmente.
Memorizzare richiesta e il risultato fornito  in due  dictionary e al termine stampare tutto


Tips:
- import sys // input() permette di gestire l'input utente
    - memorizzare il risultato con la funzione  userRis = int(input()) #integer input
- La funzione  np.random.randint(1,11) in import numpy as np genera un numero casuale da 1 a 10

In [ ]:
import numpy as np
np.random.randint(1, 3)

1

In [ ]:
import sys

res = input()
print('res è ' + res)

ciao
res è ciao

In [ ]:
import sys
import numpy as np

# creare due dizionari per memorizzare le tabelline richieste e i relativi risultati

# creare un ciclo di 10 iterazioni
  # generare casualmente due numeri
  # chiedere e recuperare il risultato dell'operazione all'utente
  # memorizzare sia l'operazione che il risultato negli opportuni dizionari

# stampare le 10 tabelline richieste all'utente, valutandone la correttezza

Quanto fa 3 * 9
27
Quanto fa 2 * 9
18
3 * 9
Risultato Atteso = 27
Risultato Utente  = 27
Corretto!!!
2 * 9
Risultato Atteso = 18
Risultato Utente  = 18
Corretto!!!

# Il mio compleanno!
Quanti giorni mancano al compleanno dell'utente? Realizza una funzione che effettua questo conteggio

Tips:
- import datetime permette di gestire il tempo
- import sys // input() permette di gestire l'input utente
    - chiedere il mese e il giorno di nascita tramite int(input()) e str(input))
    
Algoritmo
- fare una funzione per convertire i mesi in numeri
- chiedere il giorno di nascita
- chiedere il mese di nascita
- convertire il mese in numero
- calcolare l'anno del prossimo compleanno
- fare la differenze tra la data odierna e quella del prossimo compleanno

In [ ]:
import sys
import datetime

def convertiMese(Mese):
    conversione = {"gennaio":1, 'febbraio':2, 'marzo':3, 'aprile':4,'maggio':5,'giugno':6,'luglio':7,'agosto':8, 'settembre':9, 'ottobre':10, 'novembre':11, 'dicembre':12}
    return conversione[Mese]

def quantoManca():
    print("Qual è il tuo giorno di nascita?")
    giornoCompleanno = int(input())
    print("Qual è il tuo Mese di nascita?")
    meseCompleanno = convertiMese(str.lower(input()))
    oggi = datetime.date.today().day
    mese = datetime.date.today().month
    if (mese>meseCompleanno):
        annoCompleanno = datetime.date.today().year+1
    elif(mese<meseCompleanno):
        annoCompleanno = datetime.date.today().year
    else:
        if (giornoCompleanno<=oggi):
            annoCompleanno = datetime.date.today().year+1
        else:
            annoCompleanno = datetime.date.today().year
    dataCompleanno = datetime.date(annoCompleanno, meseCompleanno, giornoCompleanno)
    return print('Mancano ' +str(dataCompleanno- datetime.date.today()))

In [ ]:
quantoManca()

Qual è il tuo giorno di nascita?
10
Qual è il tuo Mese di nascita?
Maggio
Mancano 359 days, 0:00:00