In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_excel('anagrafica.xlsx', dtype= {"partita_iva": str,"codice_fiscale": str})
df

,ragione_sociale,partita_iva,codice_fiscale
0,COSCO SHIPPING LINES (ITALY) S.R.L.,1545620997,1545620997
1,CONFARTIGIANATO TORINO SERVIZI PER LE IMPRESE ...,9055130018,9055130018
2,MA.RE.TO 77 S.R.L.,12216370010,96684430018
3,OFFICINE METALMECCANICHE LAZIALI S.R.L. IN SIG...,2156300598,2156300598
4,ELIABRUZZO - S.R.L.,1430240695,1430240695
...,...,...,...
395,ALIARA VINI SOCIETA' AGRICOLA S.R.L. ALIARA SO...,3541160549,3541160549
396,ALICA SOCIETA' COOPERATIVA AGRICOLA,3015810603,3015810603
397,ALLEANZA AGRICOLA SOCIETA' COOPERATIVA,2155190982,2155190982
398,ALLEVAMENTI & PODERI PADANI SOCIETA' AGRICOLA ...,1655970190,1655970190
399,ALLEVAMENTI AURORA SOCIETA' AGRICOLA COOPERATI...,605890045,605890045

In [5]:
import pandas as pd
import sqlite3
df = pd.read_excel('anagrafica.xlsx', dtype= {"partita_iva": str,"codice_fiscale": str})

In [7]:
df["partita_iva"]= df["partita_iva"].str.zfill(11)
df["codice_fiscale"]= df["codice_fiscale"].str.zfill(11)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ragione_sociale  400 non-null    object
 1   partita_iva      400 non-null    object
 2   codice_fiscale   400 non-null    object
dtypes: object(3)
memory usage: 9.5+ KB

In [ ]:
import pandas as pd
import sqlite3

def populate_sqlite_from_csv(file, database_file,tablename):
    # Leggi il foglio di calcolo Excel in un DataFrame
    df = pd.read_csv(file)
    # Connette al database SQLite
    conn = sqlite3.connect(database_file)
    # Scrivi il DataFrame nel database SQLite
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    # Chiudi la connessione al database
    conn.close()


def populate_sqlite_from_df(df, database_file,tablename):    
    # Connette al database SQLite
    conn = sqlite3.connect(database_file)
    # Scrivi il DataFrame nel database SQLite
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    # Chiudi la connessione al database
    conn.close()

populate_sqlite_from_df(anagrafica,"test.db",anagrafica.csv)

In [ ]:
#sqlite to df
import sqlite3

con = sqlite3.connect("test.db")
df = pd.read_sql_query("SELECT * from energia", con)
df